.el-tabs--card>.el-tabs__header .el-tabs__nav
    border-color #f6f6f6
    border-top 0
.el-tabs--card>.el-tabs__header
    border-color #f6f6f6
.el-tabs__nav-scroll
    border-top 1px solid #f6f6f6
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
.el-tabs--card>.el-tabs__header .el-tabs__item
    border-left-color #f6f6f6
.s-nav-active
.s-nav-active.el-icon-location
    color #409EFF
.el-menu-vertical-demo
  border 0
.el-menu--collapse
  .el-submenu__title
    span 
      display none
    .el-submenu__icon-arrow
      display none
.el-menu-item.is-active i
    color #409EFF