$bg-color=#eee
.app-header
  width 100vw
  display flex
  position fixed
  background-color $bg-color
  .left
    background-color white
    text-align center
  .right
    flex 1
    background-color white
    display flex
.app-tags
  position fixed
  background-color white
  .el-tabs__header
    margin-bottom 0
  .el-tabs__content
    width 100%
    background-color $bg-color
    padding 15px
    overflow auto
  .el-tab-pane
    background-color white
    min-height 100%
.app-sider
  flex 1
.app-sider-ver
  overflow-y auto
  overflow-x hidden
  word-break break-all
  background-color white
  position fixed
  left 0
.app-tags
  overflow hidden
  background-color white
  position fixed
  .el-tabs__header
    margin 0
.app-content
  min-height 100vh
  .app-crumb
    padding 8px 0
  .app-content-cont
    background-color white